<main>
    <div class="row">
        {{#each this}}
        <div class="men">
            <h3>{{name}}</h3>
            <p class="description">{{decription}}</p>
            <p class="price">{{price}}</p>
            <img class="image" src="img/{{src}}" />
        </div>
        {{/each}}
</main>

</div>